{
    "env": {
        "node": true,
        "mocha": true
    },
    "extends": "airbnb",
    "rules": {
        "prefer-template": 0,
        "strict": 0,
        "no-unused-expressions": 0
    }
}
