.row
  form.form-inline
    .col-xs-4
      .form-group
        label.sr-only(for='currentFrom') From Currency
        input#currentFrom.form-control(ng-model='currencies.a' ng-model-options="{ updateOn: 'blur' }" ng-pattern='/[a-zA-Z]/' type='text', placeholder='From Currency' required)
    .col-xs-4
      .form-group
        label.sr-only(for='currencyTo') To Currency
        input#currencyTo.form-control(ng-model='currencies.b' ng-model-options="{ updateOn: 'blur' }" ng-pattern='/[a-zA-Z]/' type='text', placeholder='To Currency' required)

    .col-xs-4
      .form-group
        input.form-control.btn.btn-info(type="submit" ng-click="checkForexRate()" value="Calculate")

.row
  .col-xs-12(ng-show="exchangeRate")
    h3 The exchange rate of {{currencies.a}} against {{currencies.b}} is {{exchangeRate}}
